
.container{
   
    margin:auto;
    margin-top: 10px;
    width:350px;
   
   height:500px;
   text-align: center;
   font-size: 25px;
   border: 2px solid rgb(117, 250, 250);
   border-radius: 30px;
   
    }
  
    .mb-3{
        font-size: 15px;
        text-align: left;
        font-weight: 200px;
      ;}

        a .container:hover{
          background-color:rgb(191, 248, 254) ;        
        }